/* Size for brand */
nav .navbar-brand {
    background-color: black;
    white-space: pre;
    font-size: 1.5r;
    color: white;
    font-weight: bold;
}

nav.navbar {
    height: 10%;
    background-color:black; /* Change the 0.5 value to adjust the opacity */
}

.r_form {
    margin-bottom: 1rem !important;
}

* {
    
    box-sizing: border-box;
    border:0;
    padding:0;
}

div {
    display: block;
}

/* Styles for the table */
table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


.dog-image {
    position: static;
    bottom: 100px;
    left: 0;
    z-index: -1; /* To ensure the image is displayed below other elements */
    width: auto; /* Add this line */
    height: auto; /* Add this line */
    max-width: 50%; /* Add this line */
    max-height: 100%; /* Add this line */
}

.ball-image {
    position: relative;
    bottom: -37px;
    right: -110px;
    width: 11%; /* Reduce the size to a quarter */
    z-index: -1; /* To ensure the image is displayed below other elements */
}


/* 3D effect and color for span within the navbar-brand */
nav .navbar-brand span {
    text-shadow: 1px 1px 2px #333, -1px -1px 2px #333, 1px -1px 2px #333, -1px 1px 2px #333, 0px 0px 3px #fff;
    color: #e1e5ec;
}

.pictures-container {
    position: relative;

}

.navar-nav {
    color: white;
    font-weight: bold;
}

.navbar-toggler {
    background-color: darkgray;
    border: 1px solid red;
}