{% extends "layout.html" %}

{% block title %}About Bowie Game{% endblock %}

{% block main %}
<section class="about container py-5">
    <h2>About Bowie Game</h2>
    <div class="about-container">
        <p>
            Welcome to BowieGame! Bowie is a wire-haired dachshund dog that was born on June 10, 2022, in Guadalajara, Madrid, Spain.
            
        </p>
        <p>
            Bowie is one of the family dogs of the BowieGame creator. After spending a lot of time together and walking Bowie in Ciutadella Park, Barcelona, Spain, the idea for the game was born. Bowie's mother had left a couple of months before, taking Bowie to Margarita Island in Venezuela. This period of separation, coupled with the completion of the Harvard CS50x course, inspired the creation of BowieGame.
            <img src="{{ url_for('static', filename='pictures/bowie_cover.jpg') }}" class="about-image mx-2 my-2" alt="Bowie">
        </p>
        <p>
            The game, developed as a final project for Harvard's <a href="https://cs50.harvard.edu/x" target="_blank">CS50x</a>, for <a href="https://sanchezle.github.io" target="_blank">Luis Sánchez</a> reflects the happy times spent with Bowie and the beautiful scenery of Ciutadella Park. Released on May 29, 2023, the game captures the essence of nostalgia and joy that Bowie brings.
        </p>
        <div class="about-video mb-4">
            <video controls class="w-100" style="max-width: 800px;">
                <source src="{{ url_for('static', filename='pictures/bowie-video-ciutadela2022.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="about-images d-flex flex-wrap justify-content-center">
            <img src="{{ url_for('static', filename='pictures/bowie_ducks_ciutadella.jpg') }}" class="about-image mx-2 my-2" alt="Bowie in action">
            <img src="{{ url_for('static', filename='pictures/bowie_avio.jpg') }}" class="about-image mx-2 my-2" alt="Bowie en avion">
            <img src="{{ url_for('static', filename='pictures/bowie_caribe.jpg') }}" class="about-image mx-2 my-2" alt="Bowie en el caribe">
        </div>
    </div>
</section>
{% endblock %}
