<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move My Dog</title>
    <link rel="stylesheet" href="static/styles_game.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <!--add score counter element-->
    <!-- q:is it time display element suitable for a timer in the tope middle?-->
    <!--a: -->
    <div id="time-display"></div>
    <div class="container" id="score-container">
        <h1 id="score">Score: 0</h1>
    <div class="container" id="container">
        <img src="static/pictures/dog.png" alt="Dog" id="dog">
    </div>
    <audio src="static/background-music.mp3" id="bg-music" loop autoplay></audio>
    <button id="mute-button">M U T E</button>
    <script src="static/script.js"></script>
</body>
</html>
