{% extends "layout.html" %}
{% block title %}
    home
{% endblock %}

{% block main %}
        <a id="play-button2" href="/game">PLAY</a>
        

<div class="index items">
    <h1 id id="title">BOWIE GAME</h1>
    <h1 name="username" method="get">{{ username }}</h1>
    <h1 name="last_score" method="get"> YOUR LAST SCORE WAS {{ lastuserscore }}</h1>
</div>

<div>

    <table method="get">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for record in higheruserscores %}
                <tr>
                    <td>{{ record.username }}</td>
                    <td>{{ record.score }}</td>
                    <td>{{ record.timestamp }}</td>
                </tr>
            {% endfor %}

    </table>
        <a id="records-link" href="/records"> World Records</a>
        <a id="instructions-link" href="/instructions">Instructions</a>
</div>



{% endblock %}
