{% extends "layout.html" %}

{% block main %}
<div class="container">
    <h1>BOWIE GAME</h1>
    <h1 name="last_score" method></h1>
    <h1 name="username" method="get">{{ username }}</h1>
    <h1 name="last_score" method="get"> YOUR LAST SCORE WAS {{ lastuserscore }}</h1>
    <button onclick="startGame()" id="play-button">Start</button>
    <button onclick="showScores()">Scores</button>
    <button onclick="showInstructions()">Instructions</button>
</div>

<div>
    <table method="get">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for record in higheruserscores %}
                <tr>
                    <td>{{ record.username }}</td>
                    <td>{{ record.score }}</td>
                    <td>{{ record.timestamp }}</td>
                </tr>
            {% endfor %}

    </table>
</div>

{% endblock %}

{% block extra_js %}
<script>
    function startGame() {
        window.location.href = "{{ url_for('bowiegame') }}";
    }

    function showScores() {
        window.location.href = "{{ url_for('scores') }}";
    }

    function showInstructions() {
        window.location.href = "{{ url_for('instructions') }}";
    }
</script>
{% endblock %}
