{% extends "layout.html" %}

{% block title %}
Bowie Game
{% endblock %}
{% block main %}
<div class="container">
    <h1>BOWIE GAME</h1>
    <button onclick="startGame()">Start</button>
    <button onclick="showScores()">Scores</button>
    <button onclick="showInstructions()">Instructions</button>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function startGame() {
        window.location.href = "{{ url_for('bowiegame') }}";
    }

    function showScores() {
        window.location.href = "{{ url_for('scores') }}";
    }

    function showInstructions() {
        window.location.href = "{{ url_for('instructions') }}";
    }
</script>
{% endblock %}
