{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block main %}
<h1>Log In</h1>
<form action="/login" method="post" class="custom-form">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="este" id="identifier" name="identifier" placeholder="Username or Email" type="text">
    </div>
    <div class="mb-3">
        <input class="este" id="password" name="password" placeholder="Password" type="password">
        <input type="checkbox" onclick="togglePasswordVisibility('password')"> Show Password
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
<a id="cambiar" href="/register"><h4>Register</h4></a>
<a id="password_reset_request" href="/password_reset_request"><h4>Forgot Password?</h4></a>
<a id="recover_user" href="/recover_user"><h4>Recover User</h4></a>
<!-- Add OAuth Login Links -->
<div>
    <p>Or log in using:</p>
    <a href="/login/google" class="btn btn-danger">Google</a>
    <!-- Add other OAuth providers here -->
</div>
{% endblock %}
