{% extends "layout.html" %}

{% block main %}
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form action="/password_reset_request" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email" required>
        </div>
        <button class="btn btn-primary" type="submit">Request Password Reset</button>
    </form>
    <a href="/login"><h4>Back to Login</h4></a>
{% endblock %}
