{% extends "layout.html" %}
{% block title %}Recover User{% endblock %}
{% block main %}
<h1>Recover User</h1>
<form action="/recover_user" method="post" class="custom-form">
    <div class="mb-3">
        <select name="username" id="selection" class="este" required>
            <option value="" disabled selected>Select User</option>
            {% for user in users_to_recover %}
                <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input type="email" id="email" name="email" class="este" placeholder="Email" required>
    </div>
    <div class="mb-3">
        <input type="password" id="password" name="password" class="este" placeholder="New Password" required>
        <input type="checkbox" onclick="togglePasswordVisibility('password')"> Show Password
    </div>
    <div class="mb-3">
        <input type="password" id="confirmation" name="confirmation" class="este" placeholder="Confirm New Password" required>
        <input type="checkbox" onclick="togglePasswordVisibility('confirmation')"> Show Password
    </div>
    <div class="mb-3">
        <input type="text" id="token" name="token" class="este" placeholder="Recovery Token" required>
    </div>
    <button type="submit" class="btn btn-primary">Recover User</button>
</form>
{% if message %}
    <div class="alert alert-info">{{ message }}</div>
{% endif %}
{% endblock %}

