{% extends "layout.html" %}

{% block main %}
    <form action="/register" method="post">
        <div class="r_form">
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="r_form">
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="r_form">
            <input type="text" name="confirmation" placeholder="Confirm Password">
        </div>

        <button type="submit">Register</button>
    </form>
    <div action="/register" method="get">
        <p>
            {{problem}}
        </p>
    </div>

{% endblock %}
