<{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}
{% block main %}
<h1>Reset Password</h1>
<form action="{{ url_for('reset_password', token=token) }}" method="post" class="custom-form">
    <div class="mb-3">
        <input class="este" id="new_password" name="new_password" placeholder="New Password" type="password" required>
        <input type="checkbox" onclick="togglePasswordVisibility('new_password')"> Show Password
    </div>
    <div class="mb-3">
        <input class="este" id="confirm_password" name="confirm_password" placeholder="Confirm Password" type="password" required>
        <input type="checkbox" onclick="togglePasswordVisibility('confirm_password')"> Show Password
    </div>
    <button class="btn btn-primary" type="submit">Reset Password</button>
</form>
{% endblock %}
