{% extends "layout.html" %}
{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <form action="{{ url_for('reset_password', token=token) }}" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirm_password" name="confirm_password" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
{% endblock %}
