<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Move My Dog</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/sytles2.css">
        <script src="static/script2.js"></script>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div>
            <img src="static/pictures/dog.png" alt="Dog" id="dog">           
        </div>
        
    </body>
    
</html>